<html>
    <head>
        <style>
            /*button*/

            #button {
              display: inline-block;
              padding: 15px 25px;
              font-size: 24px;
              cursor: pointer;
              text-align: center;
              text-decoration: none;
              outline: none;
              color: #fff;
              background-color: #333;
              border: none;
              border-radius: 15px;
              box-shadow: 0 9px #999;
            }

            #button:hover {background-color: #222}

            #button:active {
              background-color: #222;
              box-shadow: 0 5px #666;
              transform: translateY(4px);
            }

            /* forms */

            input, textarea, select, .uneditable-input {
                border: 1px solid #bbb;
                width: 100%;
                margin-bottom: 15px;
                @include box_sizing;
            }

            input {
                height: auto !important;
            }

            /*fields*/

            .personal_field {
                background-color: #999;
                width: 100%;
                padding: 6px 10px;
                margin: 8px 0;
                box-sizing: border-box;
                border: 1px solid #555;
                outline: none;
            }
            .personal_field:focus {
                background-color: #777;
            }
        </style>
    </head>
    <body style="background-color: #B34154;">
        <table style="width:100%;">
            <tr>
                <td style="width:33%;">
                </td>
                <td style="width:34%; text-align:center;">
                    <% provide(:title, 'Edit a training question') %>
                    <h1>Edit a training question</h1>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <%= form_for(Question.find(params[:id])) do |f| %>
                                <%= render 'shared/error_messages_question_edit' %>

                                <h3><%= f.label :text %></h3>
                                <%= f.text_field :text , class: "personal_field form-control" %>

                                <h3><%= f.label :ans1, "Answer #1" %></h3>
                                <%= f.text_field :ans1 , class: "personal_field form-control" %>

                                <h3><%= f.label :ans2, "Answer #2" %></h3>
                                <%= f.text_field :ans2 , class: "personal_field form-control" %>

                                <h3><%= f.label :ans3, "Answer #3" %></h3>
                                <%= f.text_field :ans3 , class: "personal_field form-control" %>

                                <h3><%= f.label :ans4, "Answer #4" %></h3>
                                <%= f.text_field :ans4 , class: "personal_field form-control" %>

                                <h3><%= f.label :ans_ok, "Correct answer" %></h3>
                                <%= f.number_field :ans_ok , class: "personal_field form-control", min: 1, max: 4 %>

                                <%= f.submit "Save changes", class: "btn btn-primary", id: "button" %>
                            <% end %>
                        </div>
                    </div>
                </td>
                <td style="width:33%;">
                </td>
            </tr>
        </table>
    </body>
</html>
