<ul>
    <br><br><br>
    <% if user_professore? %>
        <li style="text-align: center;" ><%= link_to "Manage the notices", advices_path %></li>
        <br>
        <li style="text-align: center;" ><%= link_to "Manage training questions", trainingQuestionsManage_path %></li>
        <br>
        <li style="text-align: center;" ><%= link_to "Manage pretest quiz", PretestAndExamQuiz.find(1) %></li>
        <br>
        <li style="text-align: center;" ><%= link_to "Manage exam quiz", PretestAndExamQuiz.find(2) %></li>
        <br>
        <li style="text-align: center;" ><%= link_to "Manage enable/disable competition subscribing/giving up and enable/disable exam", manageSubscribeOrExamActivation_path %></li>
    <% end %>
    <% if user_admin? %>
        <li style="text-align: center;" ><%= link_to "Change the administrators' password", changeAdministratorsPassword_path %></li>
        <br>
        <li style="text-align: center;" ><%= link_to "Change the professors' password", changeProfessorsPassword_path %></li>
        <br>
        <li style="text-align: center;" ><%= link_to "Manage survey", manageSurveyOrActivationPage_path %></li>
    <% end %>
</ul>
