<html>
    <head>
        <style>
            /*buttons*/
            
            .button {
              display: inline-block;
              padding: 15px 25px;
              font-size: 24px;
              cursor: pointer;
              text-align: center;
              text-decoration: none;
              outline: none;
              color: #fff;
              background-color: #333;
              border: none;
              border-radius: 15px;
              box-shadow: 0 9px #999;
            }

            .button:hover {background-color: #222}

            .button:active {
              background-color: #222;
              box-shadow: 0 5px #666;
              transform: translateY(4px);
            }
            
            /* sidebar */
            
            aside {
                section.user_info {
                    margin-top: 20px;
                }
                section {
                    padding: 10px 0;
                    margin-top: 20px;
                    &:first-child {
                        border: 0;
                        padding-top: 0;
                    }
                    span {
                        display: block;
                        margin-bottom: 3px;
                        line-height: 1;
                    }
                    h1 {
                        font-size: 1.4em;
                        text-align: left;
                        letter-spacing: -1px;
                        margin-bottom: 3px;
                        margin-top: 0px;
                    }
                }
            }
            
            .gravatar {
                float: center; /*left;*/
                margin-right: 10px;
            }
            
            .gravatar_edit {
                margin-top: 15px;
            }
            
            /*Navbar e footer*/
                        
            html, body{
                height: 100%}

            .page-wrap {
                min-height: 100%;
                margin-bottom:-80px;}

            .page-wrap:after {

                }

            .site-footer, .page-wrap:after {
                height: 80px;
                }

            .site-footer {
                background: #333;
                
                }

            .navebar1 {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
            }
            .navebar2{
                float: left;}
            .navebar2 a{
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;}
                
            .navebar2 a:hover{
                
                background-color: #111;
            }

            .navebar1 li {
                float: right;
            }

            .navebar1 li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            .navebar1 li a:hover {
                background-color: #111;
            }
            table {
                border-collapse: collapse;
                width: 100%;
            }

            td {
                height: 50px;
                
            }


            th{
                text-align: center;}

             footer {
                display: block;
            }


        </style>
    </head>
    <body style="background-color: #B34154;">
        
        <!-- Navbar -->
        <div class= "page-wrap">

        <ul class= "navebar1">
          <la class= "navebar2" ><%= link_to "CyberChallenge app", root_path %></la>
          <li class= "navebar1" ><a href="#news">Log out</a></li>
          
          <li><a href="#contact">Send Request</a></li>
          <li><a href="#news">Classification</a></li>
          <li><%= link_to "Manage", root_path %></a></li>
          <li><a href="#news">Exam</a></li>
          <li><a href="#news">Profile</a></li>
          
          <li><a href="#about">Subscribe to competition</a></li>
          <li><a href="#news">Training</a></li>
        </ul class= "navebar1">
        
        <!-- resto della pagina -->
        <table style="width:100%">
            <tr>
                <td colspan="2" style="text-align:center;">
                    <h1>
                        Administrator User
                    </h1>
                    <% provide(:title, @userAdmin.name) %>
                    <div class="row">
                        <aside class="col-md-4">
                            <section class="user_info">
                                <%= gravatar_for @userAdmin %><br><br>
                                <strong>Name:</strong> <%= @userAdmin.name %><br>
                                <strong>Surame:</strong> <%= @userAdmin.surname %><br>
                                <strong>E-mail:</strong> <%= @userAdmin.email %><br>
                                <strong>Username:</strong> <%= @userAdmin.username %><br>
                                <br><br><br><br><br>
                            </section>
                        </aside>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;">
                    <%= button_to "Change Password", root_path, method: :get, :class => "button" %>
                </td>
                <td style="text-align:center;">
                    <%= button_to "Delete My Account", root_path, method: :get, :class => "button" %>
                </td>
            </tr>
        </table>
        <br><br><br>
        
        <!-- Footer -->
        <footer class= "site-footer">
          <p style="text-align: center;" >Contacts</p>
          <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
        </footer>
        
    </body>
</html>
