<html>
    <head>
        <style>
            /*buttons*/
            
            .button {
              display: inline-block;
              padding: 15px 25px;
              font-size: 24px;
              cursor: pointer;
              text-align: center;
              text-decoration: none;
              outline: none;
              color: #fff;
              background-color: #333;
              border: none;
              border-radius: 15px;
              box-shadow: 0 9px #999;
            }

            .button:hover {background-color: #222}

            .button:active {
              background-color: #222;
              box-shadow: 0 5px #666;
              transform: translateY(4px);
            }
        </style>
    </head>
    <body>
        <% provide(:title, 'All advices') %>
        <table style="width:100%;" cellpadding="10">
            <tr>
                <td colspan="2" style="text-align: center;">
                    <br>
                    <%= button_to "Create a new advice", newAdvice_path, method: :get, :class => "button" %>
                    <br><br><br>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <h1>All existing advices</h1>
                </td>
            </tr>
            
            <tr>
                <td colspan="2" style="text-align: center;">
                    <table style="width:100%;">
                        <tr>
                            <td style="width:40%;">
                            </td>
                            <td style="width:20%;">
                                <div class="digg_pagination">
                                    <div class="page_info">
                                        <%= page_entries_info @posts %>
                                    </div>
                                    <%= will_paginate @posts, :container => false %>
                                </div>
                            </td>
                            <td style="width:40%;">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
                    
            <% @advices.each do |advice| %>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <%= link_to advice.title, advice %>
                        <% if this_is_professore?(current_user)  && current_user.username==advice.author %>
                            | <%= link_to "delete", advice, method: :delete, data: { confirm: "You sure?" } %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
            
            <tr>
                <td colspan="2" style="text-align: center;">
                    <table style="width:100%;">
                        <tr>
                            <td style="width:40%;">
                            </td>
                            <td style="width:20%;">
                                <div class="digg_pagination">
                                    <div class="page_info">
                                        <%= page_entries_info @posts %>
                                    </div>
                                    <%= will_paginate @posts, :container => false %>
                                </div>
                            </td>
                            <td style="width:40%;">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
