<!DOCTYPE html>
<html>
<head>
  <title>CyberChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <style>
    /* mixins */
    
    @mixin box_sizing {
        -moz-box-sizing:    border-box;
        -webkit-box-sizing: border-box;
        box-sizing:         border-box;
    }
    
    /* miscellaneous */
    
    .debug_dump {
        clear: both;
        float: left;
        width: 100%;
        margin-top: 45px;
        @include box_sizing;
    }
    
  </style>
  
</head>
<body>
    <%= render 'layouts/header' %>
    <div class="container">
        <div style="text-align: center;">
            <h1>
                <% flash.each do |message_type, message| %>
                    <div class="alert alert-<%= message_type %>"><%= message %></div>
                <% end %>
            </h1>
        </div>
        <%= yield %>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
    </div>
</body>
</html>
