<!DOCTYPE html>
<html>
<head>
  <title>CyberChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <style>
    /* mixins */
    
    @mixin box_sizing {
        -moz-box-sizing:    border-box;
        -webkit-box-sizing: border-box;
        box-sizing:         border-box;
    }
    
    /* miscellaneous */
    
    .debug_dump {
        clear: both;
        float: left;
        width: 100%;
        margin-top: 45px;
        @include box_sizing;
    }
    
    /* message box */
    
    .my_box {
        width: 94%;
        padding: 25px;
        margin: 25px;
    }
    .my_box-success {
        background-color: lightgreen;
        border: 10px solid green;
    }
    .my_box-info {
        background-color: lightblue;
        border: 10px solid blue;
    }
    .my_box-warning {
        background-color: lightyellow;
        border: 10px solid yellow;
    }
    .my_box-danger {
        background-color: #FA5C71;
        border: 10px solid red;
    }
    
  </style>
  
</head>
<body>
    <%= render 'layouts/header' %>
    <div class="container">
        <div style="text-align: center;">
            <h3>
                <% flash.each do |message_type, message| %>
                    <div class="my_box my_box-<%= message_type %> alert alert-<%= message_type %>"><%= message %></div>
                <% end %>
            </h3>
        </div>
        <%= yield %>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
    </div>
</body>
</html>
